<%- include ('partials/header') %>


<div class="container">
<h1>Landing page!</h1>
<a class="btn btn-primary" href="/campgrounds">Go to campgrounds Page</a>

<%- include ('partials/footer') %>

</div>